@import url("https://fonts.googleapis.com/css?family=Lato|Russo+One");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-star {
  //background: rgb(229,204,195);
  //background: linear-gradient(135deg, rgba(229,204,195,1) 0%, rgba(96,71,223,1) 100%);
  background-image: linear-gradient(to bottom, #292256 0%, #8446cf 70%, #a871d6 100%);
}

.container-star:after {
  //background: rgb(229,204,195);
  //background: linear-gradient(135deg, rgba(229,204,195,1) 0%, rgba(96,71,223,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(15, 10, 38, 0.2) 100%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.star-1 {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-animation: twinkle 5s infinite ease-in-out;
  animation: twinkle 5s infinite ease-in-out;
}

.star-1:after {
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.star-1:before {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  border-radius: 50%;
  content: "";
  top: -20%;
  left: -50%;
}

.star-1:nth-of-type(1) {
  top: 82vh;
  left: 60vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.star-1:nth-of-type(1):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(2) {
  top: 36vh;
  left: 30vw;
  width: 5px;
  height: 1.6666666667px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(2):before {
  width: 10px;
  height: 10px;
  top: -250%;
}

.star-1:nth-of-type(3) {
  top: 15vh;
  left: 99vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(3):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(4) {
  top: 5vh;
  left: 63vw;
  width: 4px;
  height: 1.3333333333px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.star-1:nth-of-type(4):before {
  width: 8px;
  height: 8px;
  top: -250%;
}

.star-1:nth-of-type(5) {
  top: 87vh;
  left: 3vw;
  width: 6px;
  height: 2px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.star-1:nth-of-type(5):before {
  width: 12px;
  height: 12px;
  top: -250%;
}

.star-1:nth-of-type(6) {
  top: 52vh;
  left: 59vw;
  width: 8px;
  height: 2.6666666667px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.star-1:nth-of-type(6):before {
  width: 16px;
  height: 16px;
  top: -250%;
}

.star-1:nth-of-type(7) {
  top: 60vh;
  left: 63vw;
  width: 4px;
  height: 1.3333333333px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.star-1:nth-of-type(7):before {
  width: 8px;
  height: 8px;
  top: -250%;
}

.star-1:nth-of-type(8) {
  top: 73vh;
  left: 44vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(8):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(9) {
  top: 51vh;
  left: 62vw;
  width: 9px;
  height: 3px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(9):before {
  width: 18px;
  height: 18px;
  top: -250%;
}

.star-1:nth-of-type(10) {
  top: 63vh;
  left: 66vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(10):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(11) {
  top: 3vh;
  left: 57vw;
  width: 9px;
  height: 3px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(11):before {
  width: 18px;
  height: 18px;
  top: -250%;
}

.star-1:nth-of-type(12) {
  top: 85vh;
  left: 1vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.star-1:nth-of-type(12):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(13) {
  top: 24vh;
  left: 72vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(13):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(14) {
  top: 59vh;
  left: 33vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(14):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(15) {
  top: 1vh;
  left: 10vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.star-1:nth-of-type(15):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(16) {
  top: 46vh;
  left: 3vw;
  width: 8px;
  height: 2.6666666667px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.star-1:nth-of-type(16):before {
  width: 16px;
  height: 16px;
  top: -250%;
}

.star-1:nth-of-type(17) {
  top: 15vh;
  left: 81vw;
  width: 8px;
  height: 2.6666666667px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.star-1:nth-of-type(17):before {
  width: 16px;
  height: 16px;
  top: -250%;
}

.star-1:nth-of-type(18) {
  top: 47vh;
  left: 55vw;
  width: 5px;
  height: 1.6666666667px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.star-1:nth-of-type(18):before {
  width: 10px;
  height: 10px;
  top: -250%;
}

.star-1:nth-of-type(19) {
  top: 36vh;
  left: 39vw;
  width: 5px;
  height: 1.6666666667px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(19):before {
  width: 10px;
  height: 10px;
  top: -250%;
}

.star-1:nth-of-type(20) {
  top: 85vh;
  left: 28vw;
  width: 7px;
  height: 2.3333333333px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(20):before {
  width: 14px;
  height: 14px;
  top: -250%;
}

.star-1:nth-of-type(21) {
  top: 41vh;
  left: 60vw;
  width: 9px;
  height: 3px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(21):before {
  width: 18px;
  height: 18px;
  top: -250%;
}

.star-1:nth-of-type(22) {
  top: 22vh;
  left: 31vw;
  width: 5px;
  height: 1.6666666667px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(22):before {
  width: 10px;
  height: 10px;
  top: -250%;
}

.star-1:nth-of-type(23) {
  top: 43vh;
  left: 49vw;
  width: 4px;
  height: 1.3333333333px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.star-1:nth-of-type(23):before {
  width: 8px;
  height: 8px;
  top: -250%;
}

.star-1:nth-of-type(24) {
  top: 57vh;
  left: 25vw;
  width: 5px;
  height: 1.6666666667px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.star-1:nth-of-type(24):before {
  width: 10px;
  height: 10px;
  top: -250%;
}

.star-1:nth-of-type(25) {
  top: 18vh;
  left: 22vw;
  width: 6px;
  height: 2px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.star-1:nth-of-type(25):before {
  width: 12px;
  height: 12px;
  top: -250%;
}

.star-1:nth-of-type(26) {
  top: 86vh;
  left: 21vw;
  width: 8px;
  height: 2.6666666667px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.star-1:nth-of-type(26):before {
  width: 16px;
  height: 16px;
  top: -250%;
}



