.container, .nav-bar, .profile-card {
  display: flex;
  align-items: center;
}

.container {
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}

.nav-bar {
  justify-content: flex-end;
  margin-top: 10px;
  height: 10vh;
  width: 100vw;
  background-color: transparent;

  a {
    margin-right: 20px;
  }
}

.profile-card {
  justify-content: center;
  border: 0.1px rgba(236, 236, 236, 0.6) solid ;
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(7px);
  margin-top: 20px;
  flex-direction: column;
  border-radius: 20px;
  width: 70vw;
  height: 45vh;
  font-size: 1.1em;

  p {
    color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  .profile-card {
    width: 90vw;
  }
}

.adverts-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider {
  margin-top: 30px;
  width: 200px;
  height: 10px;
  background-color: #ccc;
  position: relative;
}

.indicator {
  width: 100px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.indicator.active {
  background-color: black;
}

.indicator:first-child {
  left: 0;
}

.indicator:last-child {
  right: 0;
}


