<app-spinner *ngIf="advertList.length == 0"></app-spinner>
<div class="nav-bar">
  <p>Nav bar</p>
  <a (click)="openModal()">
    <img src="assets/img/menu-list.svg" alt="menu-list">
  </a>
  <app-modal *ngIf="showModal">
    <p>Ім'я: {{user.firstName}}</p>
    <p>Призвіще: {{user.lastName}}</p>
    <p>Номер телефону: {{user.phoneNumber}}</p>
    <p>Email: {{user.email}}</p>
    <p>Район: {{user.district.name}}</p>
  </app-modal>
</div>
<div class="profile-card">
  <img src="assets/img/profile-round.svg" alt="profile">
  <p>Ім'я: {{user.firstName}}</p>
  <p>Призвіще: {{user.lastName}}</p>
  <p>Номер телефону: {{user.phoneNumber}}</p>
  <p>Email: {{user.email}}</p>
  <p>Район: {{user.district.name}}</p>
</div>
<div class="slider">
  <button class="indicator" (click)="swipe()" [class.active]="isMatched" [disabled]="isMatched"></button>
  <button class="indicator" (click)="swipe()" [class.active]="!isMatched" [disabled]="!isMatched"></button>
</div>
<div class="adverts-list" (swipe)="swipe()">
  <app-user-adverts *ngFor="let advert of getAdvertList()" [advert]="advert"></app-user-adverts>
</div>
