/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background: rgb(229,204,195);
  background: linear-gradient(135deg, rgba(229,204,195,1) 0%, rgba(96,71,223,1) 100%);
}
